@using Microsoft.AspNetCore.Http
@inject IReminderService _reminderService
@inject IThemeOptionService _themeService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - ToDo_App.Web</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" integrity="sha512-DD6Lm09YDHzhW3K4eLJ9Y7sFrBwtCF+KuSWOLYFqKsZ6RX4ifCu9vWqM4R+Uy++aBWe6wD4csgQRzGKp5vP6tg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/css/_all-skins.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body class="hold-transition skin-black-light fixed sidebar-mini">
    <div class="wrapper">

        <header class="main-header header">
            <a id="themeColor" class="logo" style="background-color: #1e90ff; border-top: 0px; color:black">
                <span class="logo-mini"><b>TO</b>DO</span>
                <span class="logo-lg"><b>TO-DO</b> APP</span>
            </a>

            <nav id="themeColor" class="navbar navbar-fixed-top navbar-light" style="background-color:#1e90ff">
                <a id="yellowThemeToggle" href="#" class="sidebar-toggle" data-toggle="push-menu" role="tab">

                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="navbar-nav">
                                <a asp-controller="Home" asp-action="Index">
                                    <i id="yellowTheme" class="fa fa-user"> Profile</i>
                                </a>
                            </li>
                            <li class="navbar-nav">
                                <a asp-controller="Account" asp-action="Edit" asp-route-userName="@User.Identity.Name">
                                    <i id="yellowTheme" class="fa fa-gear"> Settings</i>
                                </a>
                            </li>
                            <li class="navbar-nav">
                                <a asp-controller="ThemeOption" asp-action="ThemeOption">
                                    <i id="yellowTheme" class="fa fa-paint-brush"> Theme Options</i>
                                </a>
                            </li>
                            <li class="navbar-nav">
                                <a asp-controller="Account" asp-action="ChangePassword" asp-route-userName="@User.Identity.Name">
                                    <i id="yellowTheme" class="fa fa-lock"> Change Password</i>
                                </a>
                            </li>

                            <li class="navbar-nav">
                                <a asp-controller="Reminder" asp-action="TodaysReminders">
                                    <i id="yellowTheme" class="fa fa-bell"></i>
                                    @{
                                        var remindersTodayCount = _reminderService.GetTodaysReminders(User.GetUserId());
                                        @if (remindersTodayCount != null)
                                        {
                                            <span class="label label-danger">@remindersTodayCount.Result.Count</span>
                                        }
                                        else
                                        {
                                            <span class="label label-warning"></span>
                                        }
                                    }
                                </a>
                            </li>

                            <li class="navbar-nav">
                                <a asp-controller="Account" asp-action="Logout">
                                    <i id="yellowTheme" class="fa fa-sign-out"> Logout</i>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="navbar-nav">
                                <a asp-controller="Account" asp-action="Login">
                                    <i class="fa fa-sign-in"> Login</i>
                                </a>
                            </li>
                            <li class="navbar-nav">
                                <a asp-controller="Account" asp-action="Register">
                                    <i class="fa fa-user-plus"> Register</i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>


        </header>

        <aside class="main-sidebar" style="background-color: #ECF0F5">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header" style="text-align:center; color: black; font-weight: bold;border-bottom:thin;border-bottom-color:black">MENU</li>
                    <li class="">
                        <a asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home"></i> <span>Home</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Categories</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-controller="Category" asp-action="Create"><i class="fa fa-plus"></i>Add Categories</a></li>
                            <li><a asp-controller="Category" asp-action="List"><i class="fa fa-list"></i>Category List</a></li>
                            <li><a asp-controller="Category" asp-action="DeletedCategories"><i class="fa fa-list-alt"></i>Deleted Categories</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-sticky-note-o"></i>
                            <span>Reminders</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-controller="Reminder" asp-action="Create"><i class="fa fa-plus"></i>Add Reminders</a></li>
                            <li><a asp-controller="Reminder" asp-action="List"><i class="fa fa-list"></i>Incomplete Reminders</a></li>
                            <li><a asp-controller="Reminder" asp-action="CompletedReminders"><i class="fa fa-list-alt"></i>Completed Reminders</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>

        <footer id="themeColor" class="main-footer" style="background-color:#1e90ff;color:white">
            <span id="footerText">
                Copyright &copy; 2022 <a href="https://www.github.com/serhatyamann" target="_blank"><span id="footerSpanText" style="color:white;text-decoration:underline">Serhat YAMAN</span></a>. All rights
                reserved.
            </span>
        </footer>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/fastclick.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/demo.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>


@{
    if (User.Identity.IsAuthenticated)
    {
        var themeOption = _themeService.GetThemeOptionForUser(User.GetUserId());
        if (themeOption.Result != null)
        {
            if (themeOption.Result.ThemeColor == "Pink")
            {
                <style>
                    #themeColor {
                        background-color: hotpink !important
                    }

                        #themeColor .sidebar-toggle:hover {
                            color: black;
                            background-color: white !important
                        }
                </style>
            }
            else if (themeOption.Result.ThemeColor == "Blue")
            {

            }
            else if (themeOption.Result.ThemeColor == "Green")
            {
                <style>
                    #themeColor {
                        background-color: forestgreen !important
                    }

                        #themeColor .sidebar-toggle:hover {
                            color: black;
                            background-color: white !important
                        }
                </style>
            }
            else if (themeOption.Result.ThemeColor == "Red")
            {
                <style>
                    #themeColor {
                        background-color: orangered !important
                    }

                        #themeColor .sidebar-toggle:hover {
                            color: black;
                            background-color: white !important
                        }
                </style>
            }
            else if (themeOption.Result.ThemeColor == "Purple")
            {
                <style>
                    #themeColor {
                        background-color: mediumpurple !important
                    }

                        #themeColor .sidebar-toggle:hover {
                            color: black;
                            background-color: white !important
                        }
                </style>
            }
            else if (themeOption.Result.ThemeColor == "Yellow")
            {
                <style>
                    #themeColor {
                        background-color: yellow !important
                    }

                        #themeColor .sidebar-toggle:hover {
                            color: black;
                            background-color: white !important
                        }

                    #footerText {
                        color: black !important
                    }

                    #footerSpanText {
                        color: black !important
                    }

                    #yellowTheme {
                        color: black !important
                    }

                    #yellowThemeToggle {
                        color: black !important
                    }
                </style>
            }
        }
    }
}

